$card-size: 200px;

.ShowCard {
    display: block;
    position: relative;

    .Poster {
        width: 100%;
    }

    .Title {
        position: absolute;
        bottom: 0;
        text-align: center;
        margin-block: 0;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 0.8rem;
        padding-inline: 0.2rem;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 1.1rem;
        color: #dedede;

        background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 1)
        );
    }

    .Subtype {
        position: absolute;
        left: 0;
        top: 16px;
        width: 48px;
        font-size: 12px;
        text-align: center;
        padding: 4px;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #eee;
    }

    .Link {
        text-decoration: none;
        color: inherit;
    }

    .Link:visited {
        text-decoration: none;
        color: inherit;
    }
}

.ShowCardPool {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-size, 1fr));
    gap: $card-size * 0.1;
}

.LoadMore {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.LoadMore[hidden] {
    display: none;
}

.DetailShowCard {
    display: grid;
    grid-template-columns: 33% 66%;
    gap: 24px;
    justify-content: space-evenly;
    max-height: 400px;

    .Poster {
        width: 100%;
    }

    .Title {
        margin-block: 6px;
    }

    .Subtitle {
        margin-block: 6px;
        color: #ddd;
    }

    .Description {
        width: 100%;
        max-height: 100%;
        color: #ddd;
    }

    .Date {
        margin-block: 8px;
        

        p {
            margin-block: 0;
            font-size: 12px;
            color: #ccc;
        }
    }
}
