#root {
    background-color: #111;
    color: #eee;
}

.App {
    padding: 8px;
    width: min(1200px, 100%);
    margin-inline: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.App * {
    border-radius: 12px;
}

.Home .banner {
    height: 500px;
}

.Home .banner .slide {
    height: auto;
}

.tag,
.Tag {
    font-size: 14px;
}
