:root {
    --theme-color: #e39;
    --swiper-theme-color: #e39 !important;
    --max-width: 1800px;
}

body {
    background-color: #000;
}

#root {
    background-color: #111;
    color: #eee;
}

.App {
    padding: 8px;
}

.App-main {
    width: min(var(--max-width), 100%);
    margin-inline: auto;
}

.App-logo {
    height: 48px;
    pointer-events: none;
}

.App-name {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    bottom: 16px;
    padding-left: 8px;
    font-weight: 700;
}

.App-header {
    position: sticky;
    top: 0;
    background-color: #222;
    border-radius: 0 !important;
    margin: -8px -8px 0 -8px !important;
    padding: 8px;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
}

.App-header .items-wrapper {
    width: min(var(--max-width), 100%);
    margin-inline: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    align-items: center;
}

.App * {
    border-radius: 12px;
}

.Home .banner {
    height: 500px;
}

.Home .banner .slide {
    height: auto;
}

.tag,
.Tag {
    font-size: 14px;
}

.center {
    margin-inline: auto;
    text-align: center;
}

.page {
    min-height: 50vh;
    margin-block: 8px;
}

.clean-link {
    text-decoration: none;
    color: inherit;
}

.clean-link:visited {
    text-decoration: none;
    color: inherit;
}
